@media (max-width:960px){
   
    #center{
        position: relative;
        width: 100% !important;
    }
    #c{
        position: static !important;
    }
    #l1,#l2,#l3,#r1,#r2,#r3{
        display: none;
    }
     
    #fblogin{
        position: static !important;
        width: 150px;
    }
    #socialbuttons{
        position: static !important;
        grid-template-columns: repeat(4,1fr) !important;
        grid-column-gap: 5px;
        margin: 0px 30%;
    }
    #toggle{
        display: block !important; 
    }
    .wrapper{
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
}
@media (min-width:961px){
    #l3{
        animation: l3anim 4s ease;
    }
    #l2{
        animation: l2anim 3.5s ease;
    }
    #l1{
        animation: l1anim 3s ease;
    }
    #r3{
        animation: r3anim 4s ease;
    }
    #r2{
        animation: r2anim 3.5s ease;
    }
    #r1{
        animation: r1anim 3s ease;
    }
    #c{
        animation: canim 2s ease;
    }
    @keyframes l3anim {
        0%{ top: 300px;
            left: 40%;
        }
        50%{
            top: 0%;
            left: 40%;
        }
        100%{
            top: 0%;
            left: 0%;
        }
    }
    @keyframes l2anim {
        0%{ top: 300px;
            left: 40%;
        }
        57%{
            top: 0%;
            left: 40%;
        }
        100%{
            top: 0%;
            left: 10%;
        }
    }
    @keyframes l1anim {
        0%{ top: 300px;
            left: 40%;
        }
        66%{
            top: 0%;
            left: 40%;
        }
        100%{
            top: 0%;
            left: 20%;
        }
    }
    @keyframes r3anim {
        0%{ top: 300px;
            left: 40%;
        }
        50%{
            top: 0%;
            left: 40%;
        }
        100%{
            top: 0%;
            left: 78%;
        }
    }
    @keyframes r2anim {
        0%{ top: 300px;
            left: 40%;
        }
        57%{
            top: 0%;
            left: 40%;
        }
        100%{
            top: 0%;
            left: 68%;
        }
    }
    @keyframes r1anim {
        0%{ top: 300px;
            left: 40%;
        }
        66%{
            top: 0%;
            left: 40%;
        }
        100%{
            top: 0%;
            left: 58%;
        }
    }
    @keyframes canim{
        0%{
            top: 300px;
        }
        100%{
            top: 0%;
        }
    }
}
#navmenu{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0,0,0,0.8);
    opacity: 0.9;
    z-index: 99;
    display: none;
}
#navmenu h1{
            margin-top: 100px;
}
#navmenu ul{
            list-style: none;
}
#navmenu ul li{
                margin: 3% 0%;
                padding-bottom: 2%;
                border-bottom: 1px white solid;
}
#navmenu ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#navmenu ul li a:hover{
    text-decoration: underline;
}
#toggle{
    border: none;
    font-size: 20px;
    line-height: 4px;
    color: white;
    z-index: 9999;
    position: absolute;
    top: 50px;
    left: 5%;
    display: none;
    background: transparent;
    padding-bottom:30px;
}
#toggle{
    outline: none;
    cursor: pointer;
}
#toggle:focus + #navmenu{
    display: block;
}
#l3{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 22.00%;
    z-index: 20;
}
#l3 div{
        width: 100%;
        height: 100%;
        position:relative;
}
#l3 span{
        color: white;
        font-size: 14px;
        position: absolute;
        top: 40%;
        left:25%;
        z-index: 999;
}
#l3 img{
        width: 100%;
        height: 60px;
}
#l2{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 22.59%;
    z-index: 30;
}
#l2 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#l2 span{
         color: white;
        font-size: 14px;
        position: absolute;
        top: 40%;
        left:20%;
        z-index: 999;
}
#l2 img{
        width: 100%;
        height: 65px;
}
#l1{
    position: absolute;
    top: 0%;
    left: 20%;
    width: 23.32%;
    z-index: 40;
}
#l1 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#l1 span{
         color: white;
         font-size: 14px;
         position: absolute;
         top: 35%;
         left: 20%;
         z-index: 999;
}
#l1 img{
        width: 100%;
        height: 85px;
}
#r3{
    position: absolute;
    top: 0%;
    left: 78%;
    width: 22%;
    z-index: 20;
}
#r3 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#r3 span{
         color:white;
         font-size: 14px;
         position: absolute;
         top: 40%;
         left: 53%;
         z-index: 999;
}
#r3 img{
        width: 100%;
        height: 60px;
}
#r2{
    position: absolute;
    top: 0%;
    left: 68%;
    width: 22.88%;
    z-index: 30;
}
#r2 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#r2 span{
         color: white;
         font-size: 14px;
         position: absolute;
         top: 35%;
         left: 60%;
         z-index: 999;
}
#r2 img{
        width:100%;
        height: 65px;
}
#r1{
    position: absolute;
    top: 0%;
    left: 58%;
    width: 23.32%;
    z-index: 40;
}
#r1 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#r1 span{
         color: white;
         font-size: 14px;
         position: absolute;
         top: 35%;
         left: 50%;
         z-index: 999;
}
#r1 img{
        width: 100%;
        height: 85px;
}
#center{
        position: relative;
        width: 46.5%;
        z-index: 50;
}
#c{
    position: absolute;
}
#center img{
            width: 100%;
            height: 80px;
}
#fblogin{
         background-color:mediumblue;
         padding: 5px 20px;
         position: absolute;
         right: 0%;
         z-index: 4;
}
#fblogin a{
          color: white;
          text-decoration: none;
}
        
#schedule{
          position: absolute;
          transform: rotate(90deg);
          border: 2px white solid;
          border-bottom-style: none;
          border-top-left-radius: 25%;
          border-top-right-radius: 25%;
          padding:5px 20px; 
          left: -40px;
          top: 200px;
          z-index: 9;
          background: black;
}

.wrapper{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-column-gap:2%;
            margin-top: 2%;
            margin-left: 20%;
            margin-right: 20%;
        }
        
        .wrapper div{
            position: relative;
            margin-top: 1%
            margin-bottom: 5%;
        }
        .nested{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
        }
        body{
            height: 100%;
            margin-left: 0px;
            padding-left: 0px;
            margin: 0%;
            position: relative;
            background: url(alpha-bg.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            background-attachment: fixed;
        }
html{
    height: 100%;
}
        
        h2{ color: white;
            font-size: 1.8vw;
            position: absolute;bottom: 0px;left: 10px;
        }
        h3{ color: white;
            font-size: 1.5vw;
            position: absolute;bottom: 0px;left: 10px;
        }
        #competitions,#technocruise,#hospitality,#workshops,#shows,#talks,#merchandise,#exhibitions,#megaworld,#tosc{
            transition: transform 0.3s;
        }
        #competitions:hover,#technocruise:hover,#hospitality:hover,#workshops:hover,#shows:hover,#talks:hover,#merchandise:hover,#exhibitions:hover,#megaworld:hover,#tosc:hover{
            transform: scale(1.07);
            width: 101%;
            height: 101%;
        }
        #socialbuttons a img{
            margin: 10%;
        }
        #schedule>a{
            color: white;
            text-decoration: none;
        }
        a:active{
                color: blue;
            
        }
        
       
#socialbuttons{ height:auto;
                display: grid;
                grid-template-rows: 1fr;
                grid-row-gap: 10px;
                position: absolute;
                top: 150px;
                right: 4%;
}
.btn{
    margin: 0px 0px;
}
.btn img{
              width: 45px;
}