@media (max-width:800px){
   
    #center{
        position: relative;
        width: 100% !important;
    }
    #l1,#l2,#l3,#r1,#r2,#r3{
        display: none;
    }
     
    #fblogin{
        position: static !important;
        width: 150px;
    }
    #socialbuttons{
        position: static !important;
        grid-template-columns: repeat(4,1fr) !important;
        margin: 0px 50%;
    }
    #toggle{
        display: block !important; 
    }
    .wrapper{
        margin-left: 5% !important;
        margin-right: 0% !important;
    }
}
#toggle{
    width: 60px;
    border: none;
    font-size: 40px;
    line-height: 8px;
    color: white;
    z-index: 9999;
    position: absolute;
    top: 10%;
    left: 5%;
    display: none;
    background: transparent;
    padding-bottom:30px;
}
    
#l3{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 22.00%;
}
#l3 div{
        width: 100%;
        height: 100%;
        position:relative;
}
#l3 span{
        color: white;
        font-size: 14px;
        position: absolute;
        top: 40%;
        left:25%;
        z-index: 999;
}
#l3 img{
        width: 100%;
        height: 60px;
}
#l2{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 22.59%;
}
#l2 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#l2 span{
         color: white;
        font-size: 14px;
        position: absolute;
        top: 40%;
        left:20%;
        z-index: 999;
}
#l2 img{
        width: 100%;
        height: 65px;
}
#l1{
    position: absolute;
    top: 0%;
    left: 20%;
    width: 23.32%;   
}
#l1 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#l1 span{
         color: white;
         font-size: 14px;
         position: absolute;
         top: 35%;
         left: 20%;
         z-index: 999;
}
#l1 img{
        width: 100%;
        height: 85px;
}

#r3{
    position: absolute;
    top: 0%;
    left: 78%;
    width: 22%;
}
#r3 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#r3 span{
         color:white;
         font-size: 14px;
         position: absolute;
         top: 40%;
         left: 53%;
         z-index: 999;
}
#r3 img{
        width: 100%;
        height: 60px;
}
#r2{
    position: absolute;
    top: 0%;
    left: 68%;
    width: 22.88%;
}
#r2 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#r2 span{
         color: white;
         font-size: 14px;
         position: absolute;
         top: 35%;
         left: 60%;
         z-index: 999;
}
#r2 img{
        width:100%;
        height: 65px;
}
#r1{
    position: absolute;
    top: 0%;
    left: 58%;
    width: 23.32%;
}
#r1 div{
        width: 100%;
        height: 100%;
        position: relative;
}
#r1 span{
         color: white;
         font-size: 14px;
         position: absolute;
         top: 35%;
         left: 50%;
         z-index: 999;
}
#r1 img{
        width: 100%;
        height: 85px;
}
#center{
        position: relative;
        width: 46.5%;
}
#center img{
            width: 100%;
            height: 80px;
}
#fblogin{
         background-color:mediumblue;
         padding: 5px 20px;
         position: absolute;
         right: 0%;
         z-index: 4;
}
#fblogin a{
          color: white;
          text-decoration: none;
}
        
#schedule{
          position: absolute;
          transform: rotate(90deg);
          border: 2px white solid;
          border-bottom-style: none;
          border-top-left-radius: 25%;
          border-top-right-radius: 25%;
          padding:5px 20px; 
          left: -35px;
          top: 35%;
          z-index: 99;
          background: black;
}

.wrapper{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1%;
            margin-top: 2%;
            margin-left: 20%;
            margin-right: 20%;
        }
        
        .wrapper div{
            position: relative;
        }
        .nested{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
        }
        body{
            margin-left: 0px;
            padding-left: 0px;
            margin: 0%;
            position: relative;
            background: url(alpha-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        
        h2{ color: white;
            font-size: 1.8vw;
            position: absolute;bottom: 0px;left: 10px;
        }
        h3{ color: white;
            font-size: 1.5vw;
            position: absolute;bottom: 0px;left: 10px;
        }
        #competitions,#technocruise,#hospitality,#workshops,#shows,#talks,#merchandise,#exhibitions,#megaworld,#tosc{
            -webkit-transition: width 3s linear;
            -moz-transition: width 3s linear;
            -o-transition: width 3s linear;
            -ms-transition: width 3s linear;
            transition: width 3s linear;
            -webkit-transition: height 3s linear;
            -moz-transition: height 3s linear;
            -o-transition: height 3s linear;
            -ms-transition: height 3s linear;
            transition: height 3s linear;
        }
        #competitions:hover,#technocruise:hover,#hospitality:hover,#workshops:hover,#shows:hover,#talks:hover,#merchandise:hover,#exhibitions:hover,#megaworld:hover,#tosc:hover{
            width: 101%;
            height: 101%;
        }
        #socialbuttons a img{
            margin: 10%;
        }
        #schedule>a{
            color: white;
            text-decoration: none;
        }
        a:active{
                color: blue;
            
        }
        
       
#socialbuttons{
                display: grid;
                grid-template-columns: 1fr;
                float: right;
                /*margin-top: 10%;*/
                /*margin-right: 6%;*/
                position: relative;
                bottom: 80%;
}
.btn img{
              width: 30px;
}