#Heading{
    padding-top: 5px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    height: 70px;
}
#In{
    background: #0069CC;
}
body{
    background: black;
    font-family: sans-serif;
}
#container{
    background: linear-gradient(rgb(30, 44, 53),rgb(39, 57, 69));
    width: 550px;
    height: 820px;
    margin: 0px auto;
    justify-content: center;
}
#innercontainer{
    
    align-items: center;
    margin: 0px 25px;
    background: rgb(66, 74, 76);
    width: 500px;
    height: 680px;
    color: white;
}
#uppertext{
    padding: 0px 20px;
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 0px;
}
#form{
    padding-top: 5px;
    padding: 20px;
}
#terms{
    text-align: justify;
    font-size: 1.2em;
    padding: 5px;
}
#joinnow{
    color: white;
    background: rgb(0, 119, 180);
    font-size: 1.5em;
    width: 450px;
    text-align: center;
}
#innercontainer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
input{
    padding-left: 10px;
    width: 450px;
    height: 70px;
    font-size: 20px;
}
#lowertext{
    text-align: center;
    font-size: 1.5em;
}